{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}

<form method="POST" class="form">
<h3>Add a Team</h3>
  <div class="form-group">
    <label>Team Name</label>
     <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Region</label>
    <input type="text" name="region" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>