<form method="POST" class="score-update">
  <h1>Update Score</h1>

  <div class="form-group">
    <label>Player Number</label>
    <input type="text" name="playerNum" class="form-control">
  </div>

  <div class="form-group">
    <label>Comments</label>
    <input type="text" name="comments" class="form-control">
  </div>

  <div class="form-group">
    <button class="btn-round">Goal</button>
    <button class="btn-round">Snitch!</button>
  </div>
</form>