<div class="col-md-6 col-xs-6 team">
  <h1>Team 1</h1>

  <form method="POST" class="score-update">
    <h1>Update Score</h1>

    <div class="form-group">
      <label>Player Number</label>
      <input type="text" name="playerNum1" class="form-control">
    </div>

    <div class="form-group">
      <label>Comments</label>
      <input type="text" name="comments1" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn-round">GOAL</button>
      <button class="btn-round btn-gold">SNITCH!</button>
    </div>
  </form>
</div>


<div class="col-md-6 col-xs-6 team">
  <h1>Team 2</h1>

  <form method="POST" class="score-update">
    <h1>Update Score</h1>

    <div class="form-group">
      <label>Player Number</label>
      <input type="text" name="playerNum2" class="form-control">
    </div>

    <div class="form-group">
      <label>Comments</label>
      <input type="text" name="comments2" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn-round">GOAL</button>
      <button class="btn-round btn-gold">SNITCH!</button>
    </div>
  </form>
</div>