{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}

<form method="POST" class="form">
<h3>New Game</h3>
  <div class="form-group">
    <label>Opponent 1</label>
    <select name="teamid1" class="form-control">
      <option></option>
      <option value="57825e44910c95113fbe3f1d">Drexel Quidditch</option>
    </select>
   <input type="hidden" name="op1" value="Drexel Quidditch">
    <label>Opponent 2</label>
    
   <input type="hidden" name="op2" value="Philadelphia Honey Badgers">
   <select name="teamid1" class="form-control">
    <option></option>
      <option value="57825e4b910c95113fbe3f1e">Philadelphia Honey Badgers</option>
    </select>
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" name="tDate" class="form-control">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" name="tLocation" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>