<div class="container-fluid tours">
	<div class="playerSection">
			<h1>Isabella Gong</h1><br/>
		<img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13267851_1089395757799418_6328265090353023116_n.jpg?oh=44b071299505a0796e08e93d2c81a035&oe=582A219C">
		<p> Hello there, my name is Isabella Gong</p>
	</div>
	<a href="/tournaments" class="btn btn-primary">Back to tournaments</a>
</div>