
	<div class="container">
		<h1>{{name}}</h1>
		<p>{{region}}</p>
	</div>
<h1>Roster</h1>
<ul>
<li><a href="/profiles/quidkid">Isabella Gong</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<li><a href="/profiles/quidkid">otherplayer</a></li>
<ul>




