<div class="container-fluid">
	<h1>Roster</h1>

	<div class="table-responsive">
		<table class="table table-sm table-hover">
		<thead>
	        <tr>
	          <th>Player</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr>
	    		<td><a href="/profiles/quidkid">Isabella Gong</a></td>
	    	</tr>
	    	    	<tr>
	    		<td><a href="/profiles/quidkid">Other player</a></td>
	    	</tr>
	    </tbody>
	    </table>
	</div>
</div>