<<<<<<< HEAD
<h1>Tournaments</h1>

{{#each tour}}
  <h1>{{name}}</h1>
=======
{{#each tournament}}
<div>
  <h1>{{this.tournaments}}</h1>
</div>
>>>>>>> 06dda1e9154c5786c292992ae6dd1526795b423a
{{/each}}